:root {

	/* Common  */

	/* Theme 1  */
		--theme1-main-bg: hsl(222, 26%, 31%);
		--theme1-toggle-bg: hsl(223, 31%, 20%);
		--theme1-screen-bg: hsl(224, 36%, 15%);

		/* Special keys  */
		--theme1-skey-txt: #fff;
		--theme1-skey-bg: hsl(225, 21%, 49%);
		--theme1-skey-shadow: hsl(224, 28%, 35%);
		--theme1-equal-key-txt: #fff;
		--theme1-equal-key-bg: hsl(6, 63%, 50%);
		--theme1-equal-key-shadow: hsl(6, 70%, 34%);

		/* Keys  */
		--theme1-key-bg: hsl(30, 25%, 89%);
		--theme1-key-shadow: hsl(28, 16%, 65%);

		/* Text  */
		--theme1-btn-txt: hsl(221, 14%, 31%);
		--theme1-txt: #fff;
		--theme1-total: #a6a6a6;
		--theme1-total-active: #fff;


	/* Theme 2  */
		--theme2-main-bg: hsl(0, 0%, 90%);
		--theme2-toggle-bg: hsl(0, 5%, 81%);
		--theme2-screen-bg: hsl(0, 0%, 93%);

		/* Special keys  */
		--theme2-skey-txt: #fff;
		--theme2-skey-bg: hsl(185, 42%, 37%);
		--theme2-skey-shadow: hsl(185, 58%, 25%);
		--theme2-equal-key-txt: #fff;
		--theme2-equal-key-bg: hsl(25, 98%, 40%);
		--theme2-equal-key-shadow: hsl(25, 99%, 27%);

		/* Keys  */
		--theme2-key-bg: hsl(45, 7%, 89%);
		--theme2-key-shadow: hsl(35, 11%, 61%);

		/* Text  */
		--theme2-btn-txt: hsl(60, 10%, 19%);
		--theme2-txt: hsl(60, 10%, 19%);
		--theme2-total: #a6a6a6;
		--theme2-total-active: hsl(60, 10%, 19%);


	/* Theme 3  */
		--theme3-main-bg: hsl(268, 75%, 9%);
		--theme3-toggle-bg: hsl(268, 71%, 12%);
		--theme3-screen-bg: hsl(268, 71%, 12%);

		/* Special keys  */
		--theme3-skey-txt: #fff;
		--theme3-skey-bg: hsl(281, 89%, 26%);
		--theme3-skey-shadow: hsl(285, 91%, 52%);
		--theme3-equal-key-txt: #000;
		--theme3-equal-key-bg: hsl(176, 100%, 44%);
		--theme3-equal-key-shadow: hsl(177, 92%, 70%);

		/* Keys  */
		--theme3-key-bg: hsl(268, 47%, 21%);
		--theme3-key-shadow: hsl(290, 70%, 36%);

		/* Text  */
		--theme3-btn-txt: hsl(52, 100%, 62%);
		--theme3-txt: hsl(52, 100%, 62%);
		--theme3-total: #a6a6a6;
		--theme3-total-active: hsl(52, 100%, 62%);
}


*{
	margin:  0;
	padding:  0;
	font-family: 'Spartan', sans-serif;
	box-sizing: border-box;
}

ul{
	list-style-type: none;
}


/* Theme 1 */
.theme1.theme-main-bg{
	background-color: var(--theme1-main-bg);
	color: var(--theme1-txt);
}

.theme1.toggle-btn{
	background-color: var(--theme1-toggle-bg);
}

.theme1.toggle-btn > li.active{
	background-color: var(--theme1-equal-key-bg);
}

.theme1.screen{
	background-color: var(--theme1-screen-bg);
}

.theme1.screen > div:nth-child(2){
	color: var(--theme1-total);
}

.theme1#total.eql{
	color: var(--theme1-total-active);
}

.theme1.key-grp{
	background-color: var(--theme1-toggle-bg);
}

.theme1.num-op-key{
	background-color: var(--theme1-key-bg);
	color: var(--theme1-btn-txt);
	border-bottom-color: var(--theme1-key-shadow);
}

.theme1.special-key{
	background-color: var(--theme1-skey-bg);
	border-bottom-color: var(--theme1-skey-shadow);
	color: var(--theme1-skey-txt);
}

.theme1.eql-key{
	background-color: var(--theme1-equal-key-bg);
	border-bottom-color: var(--theme1-equal-key-shadow);
	color: var(--theme1-equal-key-txt);
}


/* Theme 2 */
.theme2.theme-main-bg{
	background-color: var(--theme2-main-bg);
	color: var(--theme2-txt);
}

.theme2.toggle-btn{
	background-color: var(--theme2-toggle-bg);
}

.theme2.toggle-btn > li.active{
	background-color: var(--theme2-equal-key-bg);
}

.theme2.screen{
	background-color: var(--theme2-screen-bg);
}

.theme2.screen > div:nth-child(2){
	color: var(--theme2-total);
}

.theme2#total.eql{
	color: var(--theme2-total-active);
}

.theme2.key-grp{
	background-color: var(--theme2-toggle-bg);
}

.theme2.num-op-key{
	background-color: var(--theme2-key-bg);
	color: var(--theme2-btn-txt);
	border-bottom-color: var(--theme2-key-shadow);
}

.theme2.special-key{
	background-color: var(--theme2-skey-bg);
	border-bottom-color: var(--theme2-skey-shadow);
	color: var(--theme2-skey-txt);
}

.theme2.eql-key{
	background-color: var(--theme2-equal-key-bg);
	border-bottom-color: var(--theme2-equal-key-shadow);
	color: var(--theme2-equal-key-txt);
}


/* Theme 3 */
.theme3.theme-main-bg{
	background-color: var(--theme3-main-bg);
	color: var(--theme3-txt);
}

.theme3.toggle-btn{
	background-color: var(--theme3-toggle-bg);
}

.theme3.toggle-btn > li.active{
	background-color: var(--theme3-equal-key-bg);
}

.theme3.screen{
	background-color: var(--theme3-screen-bg);
}

.theme3.screen > div:nth-child(2){
	color: var(--theme3-total);
}

.theme3#total.eql{
	color: var(--theme3-total-active);
}

.theme3.key-grp{
	background-color: var(--theme3-toggle-bg);
}

.theme3.num-op-key{
	background-color: var(--theme3-key-bg);
	color: var(--theme3-btn-txt);
	border-bottom-color: var(--theme3-key-shadow);
}

.theme3.special-key{
	background-color: var(--theme3-skey-bg);
	border-bottom-color: var(--theme3-skey-shadow);
	color: var(--theme3-skey-txt);
}

.theme3.eql-key{
	background-color: var(--theme3-equal-key-bg);
	border-bottom-color: var(--theme3-equal-key-shadow);
	color: var(--theme3-equal-key-txt);
}



.theme-main-bg{
	border: 1px solid transparent;
	min-height: 100vh;
	overflow: auto;
}

.container{
	height: 90vh; 
	width: 90%; 
	margin: auto;
	padding: 4rem 0;
	display: flex; 
	flex-direction: column;
}



.header{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.logo{
	font-size: 2rem;
	font-weight: 600;
	align-self: center;
	padding-top: 1.5rem;
}

.preference{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
					".     label"
					"theme button";
	align-items: center;
	justify-self: end;
	width: 13rem;
}

[data-grid-element="label"]{
	grid-area: label;
}

[data-grid-element="theme"]{
	grid-area: theme;
}

[data-grid-element="button"]{
	grid-area: button;
}

.toggle-label,
.toggle-btn{
	display: grid;
	min-width: 6rem;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.toggle-btn{
	padding: 5px 5px;
	border-radius: 20px;
}

.toggle-btn > li{
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}


.screen{
	min-height: 5.5rem;
	margin: 2.8rem 0 1.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
	padding: 1rem 2rem;
	font-size: 1.3rem;
}


.key-grp,
.screen{
	border-radius: 0.5rem;
}

.keypad{
	flex: 1;
}

.key-grp{
	padding: 2rem;
	height: 100%;
	min-height: 27em;
	display: grid; 
	grid-template-columns: repeat(4, 1fr); 
	grid-template-rows: repeat(5, 1fr); 
	grid-template-areas: 
		"key7    key8    key9    key-del"
		"key4    key5    key6    key-plus"
		"key1    key2    key3    key-min"
		"key-dot key0    key-div key-tim"
		"key-res key-res key-eql key-eql";
	gap: 0.81rem;
}

.key-grp > div{
	display: grid;
	place-items: center;
}

#key7{ grid-area: key7}
#key8{ grid-area: key8}
#key9{ grid-area: key9}
#key-del{ grid-area: key-del}
#key4{ grid-area: key4}
#key5{ grid-area: key5}
#key6{ grid-area: key6}
#key-plus{ grid-area: key-plus}
#key1{ grid-area: key1}
#key2{ grid-area: key2}
#key3{ grid-area: key3}
#key-min{ grid-area: key-min}
#key-dot{ grid-area: key-dot}
#key0{ grid-area: key0}
#key-div{ grid-area: key-div}
#key-tim{ grid-area: key-tim}
#key-res{ grid-area: key-res}
#key-eql{ grid-area: key-eql}


.key{
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.3rem;
}

.num-op-key,
.special-key,
.eql-key{
	border-bottom-style: solid;
	border-bottom-width: 0.33rem;
}


#formula{
	font-weight: 900;
}


@media (min-width: 376px){
	.container{
		max-width: 33.9rem;
	}
}